<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{category}}">
  <ion-content class="padding">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="searchText">
    </label>
    <ion-list class="list-card">
      <ion-item class="item item-icon-right" ng-repeat="product in products | filter:searchText" type="item-text-wrap" href="#/app/calculator/{{category}}/{{product.id}}">
        <!-- <img ng-src="{{chat.face}}"> -->
        {{product.name}}
        <i class="icon ion-plus-round"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
